[submodule "linmath.h"]
	path = linmath.h
	url = https://github.com/datenwolf/linmath.h
[submodule "hashmap.c"]
	path = hashmap.c
	url = https://github.com/tidwall/hashmap.c
[submodule "log.c"]
	path = log.c
	url = https://github.com/rxi/log.c
